extends layouts/main.pug
block content
	div(class="page-form-container")
		if error
			p(class="alert")= error
		form(class="page-form" action="/password" method="POST")
			div(class="control")
				div(class="field")
					label(class="label") New password
					div(class="control")
						input(class="input" name="password" type="password" required)
				input(type="hidden" name="_csrf" value=csrf)
				input(type="hidden" name="userId" value=userId)
				input(type="hidden" name="token" value=token)
			button(class="button is-info mt-3") Send
